@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media only screen and (max-width: 640px){
    .hitam{
        height: 280px;
    }
}
@media only screen and (max-width: 600px){
    .hitam{
        height: 270px;
    }
}
@media only screen and (max-width: 550px){
    .hitam{
        height: 250px;
    }
}
@media only screen and (max-width: 500px){
    .hitam{
        height: 230px;
    }
}
@media only screen and (max-width: 475px){
    .hitam{
        height: 225px;
    }
}
@media only screen and (max-width: 450px){
    .hitam{
        height: 215px;
    }
}
@media only screen and (max-width: 425px){
    .hitam{
        height: 205px;
    }
}
@media only screen and (max-width: 400px){
    .hitam{
        height: 195PX;
        width: 100%;
    }
}
@media only screen and (max-width: 375px){
    .hitam{
        height: 180PX;
        width: 100%;
    }
}
@media only screen and (max-width: 350px){
    .hitam{
        height: 170PX;
        width: 100%;
    }
}
@media only screen and (max-width: 325px){
    .hitam{
        height: 150PX;
        width: 100%;
    }
}

#sidebar {
    width: 197px;
    height: 100%;
    background-color: #FFF;
    color: #000;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 99;
}
#sidebar ul {
    list-style-type: none;
    padding: 0;
}
#sidebar ul li a {
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    color: #000;
    transition: background 0.2s;
}
.dropdown-content {
    display: none;
    overflow: hidden;
    transition: max-height 0.3s ease;
}
.dropdown-content.open {
    display: block;
    max-height: 500px; 
}
.box{
    border: #555 0.4px;
}
.content input{
    width: 65%;
    border-radius: 30px;
}
.content button i{
    margin-left: -50px;
}
.cart button i{
    margin-left: 57%;
    color: red;
}
.content label{
    left: 17%;
}
body ul{
    z-index: 99;
}

.alia{
    left: 55%;
    bottom: 90%;
}
.footer{
    font-family: 'Poppins';
}